/***********************************************************************
 *  Landing Page
**********************************************************************/
#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
  height: 100%;
  padding: 4rem;
  background: url(../images/x.png) no-repeat center center/cover;
  font-family: "VT323", monospace;
}
#landing-page h1 {
  font-size: 5rem;
}

#landing-page p {
  font-size: 3rem;
  font-weight: 500;
  color: slateblue;
}
/***********************************************************************
 *  Game Page world
**********************************************************************/
.game-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-areas: "world inventory";
}
/* most-common-aspect-ratio 16:9 * 2.5 */
.game-content__world {
  display: grid;
  grid-template-rows: repeat(23, 1fr);
  grid-template-columns: repeat(40, 1fr);
  justify-content: center;
  align-content: center;
  grid-area: world;
}
.tile {
  background-color: blue;
}
.tile:hover {
  border: solid white 1px;
}
.sky {
  background-color: blue;
}
.grass {
  background-image: url(../images/grass.png);
}
.earth {
  background-image: url(../images/soil.jpg);
}
.cloud {
  background-image: url(../images/cloud.png);
}
.rock {
  background-image: url(../images/rock.png);
}

.tree {
  background-image: url(../images/wood.png);
}

.leaves {
  background-image: url(../images/tree-leaves.png);
}

/***********************************************************************
 * Game Page Inventory
**********************************************************************/
.game-content__inventory {
  min-width: 20%;
  background-color: var(--inventory-color);
  grid-area: inventory;
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* change*/
  align-items: center;
}
.inventory__head {
  font-family: "VT323", monospace;
  color: #ff8000;
  font-size: 2rem;
}
.inventory__tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid 2px white;
}
.tool-box {
  height: 50px;
  width: 50px;
  margin: 0.5rem;

  border: solid 3px white;
  background-color: blue;
  display: flex;
}
.tool-box:hover {
  -webkit-box-shadow: 4px -4px 15px 0px #ff1f1f, 12px -11px 7px 0px #ff9376,
    20px -5px 7px 0px #ffe264, 20px 6px 7px 0px #f6ff33,
    13px 12px 17px 0px #ff9527, 2px 17px 17px 0px #ff0000,
    -9px 21px 18px 0px #fff212, -9px 6px 11px 0px #ff0808,
    -11px -9px 11px 0px #fffa17, -11px -9px 11px 0px #fffa17,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 4px -4px 15px 0px #ff1f1f, 12px -11px 7px 0px #ff9376,
    20px -5px 7px 0px #ffe264, 20px 6px 7px 0px #f6ff33,
    13px 12px 17px 0px #ff9527, 2px 17px 17px 0px #ff0000,
    -9px 21px 18px 0px #fff212, -9px 6px 11px 0px #ff0808,
    -11px -9px 11px 0px #fffa17, -11px -9px 11px 0px #fffa17,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.inventory__elements {
  display: flex;
  border: solid 2px white;
  flex-wrap: wrap;
  justify-content: space-around;
}

.elements-box {
  height: 50px;
  width: 50px;
  margin: 0.5rem;
  border: solid 3px black;
  background-color: red;
}
.elements-box:hover {
  -webkit-box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px,
    red 0 -18px 40px, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.inventory__resets {
  display: flex;
  flex-direction: column;
  border: solid 3px black;
}
.inv-btn {
  border: solid 3px white;
  margin: 0.5rem;
  width: 150px;
  /* TODO change to relative units on upper divs */
}

.shovel {
  background: url(../images/shovel.png) no-repeat center center/cover;
}
.pickaxe {
  background: url(../images/pickaxe.png) no-repeat center center/cover;
}
.axe {
  background: url(../images/axe.png) no-repeat center center/cover;
}
.mower {
  background: url(../images/mower.png) no-repeat center center/cover;
}
.leaf-blower {
  background: url(../images/Leaf_Blower.png) no-repeat center center/cover;
}

.wind {
  background: url(../images/wind.png) no-repeat center center/cover;
}
