/***********************************************************************
 *  Landing Page
**********************************************************************/
#landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  height: 100%;
  padding: 4rem;
}
/***********************************************************************
 *  Game Page
**********************************************************************/
.game-content {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-areas: "world inventory";
}
/* most-common-aspect-ratio 16:9 * 2.5 */
.game-content__world {
  display: grid;
  grid-template-rows: repeat(23, 1fr);
  grid-template-columns: repeat(40, 1fr);
  justify-content: center;
  align-content: center;
  grid-area: world;
}
.tile {
  background-color: red;
}
.tile:hover {
  border: solid white 1px;
}
.sky {
  background-color: blue;
}
.grass {
  background-image: url(../images/grass.png);
}
.earth {
  background-image: url(../images/soil.jpg);
}

.game-content__inventory {
  min-width: 20%;
  background-color: var(--inventory-color);
  grid-area: inventory;
}
/***********************************************************************
 * s
**********************************************************************/
/* calc(100% / 20))) */
/* grid-template-rows: repeat(20, 30px); */
/* grid-template-columns: repeat(20, 30px);
grid-template-rows: repeat(20, 30px); */
/* minmax(30px, 1fr)) */
